  <div class="card" [ngClass]="{'highlight':isHover}"
       (mouseover)="isHover=true"
       (mouseleave)="isHover=false" >
    <div class="card-img">
      <img  [src]="product.imgUrl">
    </div>
    <div class="card-header">
      <a href="">
        {{product.name}}
      </a>

    </div>
    <div class="card-block">

      <div class="card-text">
       {{product.description}}
      </div>
      <span href="..." class="label label-info clickable">
        Price
        <span class="badge">{{product.price | currency}}</span>
      </span>
      <a href="..." class="label label-purple clickable">
        Category
        <span class="badge">{{product.category?.name}}</span>
      </a>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-link" (click)="deleteProduct()">Delete</button>
      <button routerLink="/product/{{product._id}}" [queryParams]="{mode:'edit'}" class="btn btn-sm btn-link">Edit</button>

    </div>
  </div>

  <clr-modal [(clrModalOpen)]="toBeDeleted" >
    <h3 class="modal-title">{{product.name}}</h3>
    <div class="modal-body">
      <p>Are you sure o delete this product? ({{product._id}})</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="toBeDeleted = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="confirmDelete() ">Delete</button>
    </div>
  </clr-modal>

